<!-- this is the index.html page aka home page of website -->
<h1> Pictagram </h1>
<% @posts.each do |post| %> <!-- here i loop through each post in the posts instance variable (i can call it cause its under the index function) -->
  <%=image_tag post.image.url(:medium)%>
  <%=post.caption%>
<% end %>